*{
	outline:none;
	font-family: Microsoft JhengHei;
	width: 100%;
}

body{
	width: 100%;
	background-color: #000000;
	color: #fff;
	overflow-x: hidden;
}

h1{
	position: relative;
	margin-top: 100px;
	margin-bottom: 10px;
	/*text-align: center;*/
	color: #FF5151;
}

h1>span{
	padding-bottom: 5px;
	border-bottom: 1px solid #FF5151;
}

a:link{
  text-decoration:none;
}
a:hover{
  text-decoration:none;
}

#all{
	width: 100%;
	/*margin: 0px auto;*/
	left: 0;
	overflow-x: hidden;
}

#header{
	position: absolute;
	top: 0;
	left: 0;
	background-color: #fff;
	height: 100px;
	width: 100%;
}

#header #logo{
	/*margin-left: 0%;*/
	/*float: left;*/
	position: absolute;
	display: inline-block;
}

#LOGO{
	width: 220px;
	height: 100px;
	margin-left: 41%;
	display: inline-block;
}

/*劇情大綱*/
#plot{
	position: absolute;
	left: 2%;
	margin-top: 100px;
	width: 1450px;
}

h2{
	padding-bottom: 10px;
	border-bottom: 1px solid white;
}


/*人物介绍*/
#character{
	position: relative;
	left: 3.9%;
	margin-top: 65%;
	display: inline-block;
	/*width: 1450px;*/
}

#character h2{
	position: relative;
	left: -2.4%;
	padding-bottom: 10px;
	border-bottom: 1px solid white;
	width: 1450px;
}

#character .col{
	float: left;
}

#character .block{
	/*border: 1px solid #fff;*/
	width: 300px;
	height: 520px;
	margin: 5%;
}

#character img{
	cursor: pointer;
	width: 100%;
	/*height: 428.225;*/
	transition: all 0.6s;
}

#character img:hover{
	transform: scale(1.1);
}

	/*控制彈出視窗*/
#character .black_overlay{ 
  display: none; 
  position: fixed; 
  top: 0%; 
  left: 0%; 
  width: 100%; 
  height: 100%; 
  background-color: black; 
  z-index:1001; 
  -moz-opacity: 0.8; 
  opacity:.80; 
  filter: alpha(opacity=88); 
  overflow-y:hidden;
} 

#character .white_content { 
  display: none; 
  position: fixed; 
  top: 17%; 
  left: 20%; 
  width: 60%; 
  height: 85%; 
  padding: 20px; 
  border: none; 
  z-index:1002; 
  overflow: hidden; 
}
#character .char-container{
	position: relative;
	top: 12%;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
}
#character .char-container .box{
	width: 100px;
	width: 200px;
	margin-right: 25px;
}
#character .char-container h2{
	color: #ffffff;
}
#character .char-container h3{
	color: #A3D1D1;
}
#character .char-container p{
	color: #ffffff;
}
#character .char-container img:hover{
	transform: scale(1);
	cursor: default;
}
#character .char-container .book{
	border: 2px outset #fff;
	width: 100px;
	height: 40px;
	background-color: #FF44FF;
	color: #ffffff;
	font-size: 16px;
	cursor: pointer;
	position: relative;
	left: 25%;
	margin-top: 3%;
}
#character .pos{
	position:absolute;
	left:94%;
	width: 50px;
	height: 50px;
}    /**/

/*五條*/
#gojou .text{
	text-align: center;
}
#gojou h2{
	position: relative;
	left: 0%;
	padding-bottom: 10px;
	border-bottom: 1px solid transparent;
	width: 1450px;
}
#gojou .char-container h2{
	color: #A3D1D1;
}
#gojou .text h3{
	color: #ffffff;
}
#gojou .text p{
	color: #A3D1D1;
}

/*狗卷*/
#inumaki .text{
	text-align: center;
}
#inumaki h2{
	position: relative;
	left: 0%;
	padding-bottom: 10px;
	border-bottom: 1px solid transparent;
	width: 1450px;
}
#inumaki .char-container h2{
	color: #A3D1D1;
}
#inumaki .text h3{
	color: #ffffff;
}
#inumaki .text p{
	color: #A3D1D1;
}

/*虎杖*/
#itadori .text{
	text-align: center;
}
#itadori h2{
	position: relative;
	left: 0%;
	padding-bottom: 10px;
	border-bottom: 1px solid transparent;
	width: 1450px;
}
#itadori .char-container h2{
	color: #A3D1D1;
}
#itadori .text h3{
	color: #ffffff;
}
#itadori .text p{
	color: #A3D1D1;
}

/*宿儺*/
#sukuna .text{
	text-align: center;
}
#sukuna h2{
	position: relative;
	left: 0%;
	padding-bottom: 10px;
	border-bottom: 1px solid transparent;
	width: 1450px;
}
#sukuna .char-container h2{
	color: #A3D1D1;
}
#sukuna .text h3{
	color: #ffffff;
}
#sukuna .text p{
	color: #A3D1D1;
}

/*伏黑*/
#negumi .text{
	text-align: center;
}
#negumi h2{
	position: relative;
	left: 0%;
	padding-bottom: 10px;
	border-bottom: 1px solid transparent;
	width: 1450px;
}
#negumi .char-container h2{
	color: #A3D1D1;
}
#negumi .text h3{
	color: #ffffff;
}
#negumi .text p{
	color: #A3D1D1;
}

/*野薔薇*/
#nobara .text{
	text-align: center;
}
#nobara h2{
	position: relative;
	left: 0%;
	padding-bottom: 10px;
	border-bottom: 1px solid transparent;
	width: 1450px;
}
#nobara .char-container h2{
	color: #A3D1D1;
}
#nobara .text h3{
	color: #ffffff;
}
#nobara .text p{
	color: #A3D1D1;
}